
@{
    ViewData["Title"] = "AccountSettings";
}

<h1>Account Settings</h1>
<script src="~/lib/jquery/dist/jquery.min.js"></script>

<label for="uname"><b>Username :</b></label>
<br />
<input type="text" class="inpu" placeholder="Enter Username" name="uname" id="userusrname1" value="@WebHome.Controllers.AccountSettingsController.current_user.usrname" onchange="UpdateUserName()"  required>
<br />
<br />

<label for="psw"><b>Password : </b></label>
<br />
<input type="password" class="inpu" placeholder="Enter Password" name="psw" id="userpass1" required>
<br />
<br />

<label for="pswver"><b>Verify Password : </b></label>
<br />
<input type="password" class="inpu" placeholder="Password Verification" name="pswver" id="userpassver"  onchange="passes()" required>
<br />
<br />

<label for="email"><b>e-mail: </b></label>
<br />
<input type="email" class="inpu" placeholder="Enter e-mail" name="email" id="usermail" value="@WebHome.Controllers.AccountSettingsController.current_user.email"  onchange="passmail()" required>
<br />
<br />

<label for="Name"><b>Name: </b></label>
<br />
<input type="text" class="inpu" placeholder="Enter your Name" name="Name" id="username" value="@WebHome.Controllers.AccountSettingsController.current_user.name" onchange="passname()">
<br />
<br />

<label for="Surname"><b>Surname: </b></label>
<br />
<input type="text" class="inpu" placeholder="Enter your Surname" name="Surname" id="usersurname" value="@WebHome.Controllers.AccountSettingsController.current_user.surname" onchange="passsurname()">
<br />
<br />

<label for="mob"><b>Phone Number: </b></label>
<br />
<input type="text" class="inpu" placeholder="Enter your Mobile Phone" name="mob" id="usermobile" value="@WebHome.Controllers.AccountSettingsController.current_user.phone_number" onchange="passphone()">
<br />
<br />

<label for="pht"><b>Photo: </b></label>
<br />
<input type="text" class="inpu" placeholder="Upload Photo" name="pht" id="userphoto" value="@WebHome.Controllers.AccountSettingsController.current_user.images" onchange="passphoto()">
<br />
<br />

<label for="desc"><b>Your current role is: </b></label>
<br />
<input type="text" class="inpu"  name="desc" id="userdesc" value="@WebHome.Controllers.AccountSettingsController.current_user.role">
<br />
<br />

<label><b>Change role: </b></label>
<div class="clearfix">
    <input type="checkbox" id="userhost" name="host1" value="hst">
    <label for="host1"> I am a Host</label>
    <input type="checkbox" id="usertenant" name="tenant2" value="rent">
    <label for="tenant2"> I am a Tenant</label>
    <button type="button" onclick="UserApply()">Apply</button>
</div>
<button type="button" class="registerButton" onclick="UserSubmit()">Update User</button>
<script type="text/javascript">
    var WebSiteUrl = "@Configs.WebSiteUrl";
    var userid = "@WebHome.Controllers.LoginController.user_session_created.user_id";
</script>
<script src="~/js/accountsettings.js" asp-append-version="true"></script>



